<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>AllNews</title>

    <!-- Serif + Sans Serif (gotik zarafet + okunabilirlik) -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">

    <style>
        body {
            margin: 20%;
            background: #230235; 
            color: #eaeaea;
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body>

    {% include "header.html" %}

    {% include "duyurular.html" %}

    {% include "footer.html" %}

    
</body>
</html>